:root {
    --bg-color: #f9f4d5;
    --accent-color: #b2c6f9;
    --text-color: #491118;
    --font-family: "forma-djr-mono", sans-serif;
    --font-title: "cofo-raffine", sans-serif;
}
body {
    font-family: var(--font-family);
}
h1, h2, h3, h4, {
    font-family: var(--font-title);
}