html {

}
body {
    background-color: #f9f4d5;
    color: #491118;
    font-family: "forma-djr-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a {
    color: #491118;
    text-decoration: none;
}
    a:visited {
        color: #491118;
    }
    a:hover {
        color: #b2c6f9;
    }
}
h1, h2, h3 {
    font-family: "cofo-raffine", sans-serif;
    font-weight: 600;
    font-style: normal;
}
h1 {
    text-align: center;
    font-size: 2em;
}
p {
    font-size: 1.2em;
}
main {
    width: 80%;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1640px;
}